* {
    font-family: 'Jua', sans-serif;
}
.card-container *{
    font-family: 'Nanum Gothic', sans-serif;
}
.modal *{
    font-family: 'Nanum Gothic', sans-serif;
}
.center {
    text-align: center;
}

.title:hover {
    text-decoration: underline;
}

.hero is-warning {
    margin-bottom: 15px;
}

h1 {
    font-size: 4em;
}

.icon {
    width: 15em;
}

.title-logo {
    width: 20%;
}

.card {
    margin-left: 10em;
    margin-right: 10em;
}

.card-container div.card-list {
    display: none;
}

.card-container div.card-list.on {
    display: block;
}
.subtitle,
.modal-content {
    margin-top: 2em;
    width: 60%;
    height: 80%;
    line-height: 1.8em;
}

.rank-list li:hover{
    cursor: pointer;
}

#read-more-box{
    cursor: pointer;
}

.quickmenu {position:absolute;width:auto;top:60%;margin-top:-50px;right:3em;background:#fff;}
.quickmenu ul {position:relative;float:left;width:100%;display:inline-block;*display:inline;border:1px solid #ddd;}
.quickmenu ul li {float:left;width:100%;text-align:center;display:inline-block;*display:inline; cursor: pointer;}
.quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#999;font-size:9.5pt;}
.quickmenu ul li a:hover {color:#000;}
.quickmenu ul li:last-child {border-bottom:0;}

.box{
    width: 25%;
    margin-top: 5%;
    margin-left: 10em;
    position: absolute;
    z-index: 1;
}

.hero-foot{
    padding-bottom: 365px
}

.category-title:hover {
    text-decoration: underline;
}

.category-title {
    font-size: 1em;
}

.category-subtitle {
    font-size: 0.8em;
}

.category-tag {
    margin: 0 0 10px 10px;
}

