<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Today 국회</title>
    <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon">
    <meta property="og:title" content="오늘의 법"/>
    <meta property="og:description" content="오늘도 발의되는 여러 법안들 간편하게 살펴보자!!"/>
    <meta property="og:image" content="{{ url_for('static', filename='congress.png') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- img -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/js/jquery.vticker.min.js"></script>
    <!-- 폰트 JUA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- 폰트 Nanum Gothic -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- js 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/scroll.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/category.js"></script>

    <style>

        .btn-category:hover {
            transform: scale(1.5);
        }

        .column {
            height: 150px;
            margin: 10px;
            font-size: 1.2em;
            -webkit-box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
            -moz-box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
            box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
        }

    </style>
</head>
<body>

<section class="hero is-info is-small">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img onclick="window.location.href='/'" src="/static/congress.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" aria-expanded="false" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item">
                            Today 국회
                        </a>
                        <a href="/category" class="navbar-item">
                            카테고리별 법안목록
                        </a>
                        <a href="/yesterday" class="navbar-item">
                            어제의 국회
                        </a>
                        <span id="navbar" class="navbar-item">
                            <a onclick="show_login_modal()" class="button is-info is-inverted" id="login_button">
                                <span>로그인</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Today 국회
            </p>
            <img onclick="window.location.href='/'" class="title-logo" src="/static/congress.png" alt="Logo"/>
            <p class="subtitle" style="margin: auto">
                국회 발의 법안 간편하게 보자!
            </p>
            <p class="subtitle" style="margin: auto;">
                최근 3개월 카테고리별 법안목록 확인하자!!
            </p>
            <br><br>
            <div class="columns is-mobile is-multiline is-centered">

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("건설")'>건설</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("노동/근로")'>노동</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("문화")'>문화</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("부동산")'>부동산</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("의료/보건")'>의료/보건</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("보험")'>보험</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("주택")'>주택</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("조세")'>조세</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("교육")'>교육</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("선거")'>선거</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("농수산물")'>농수산물</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("병역")'>병역</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("범죄")'>범죄</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("금융")'>금융</a>
                    </div>
                </div>

                <div class="control category-tag">
                    <div class="tags has-addons btn-category">
                        <a class="tag is-light is-info is-medium" onclick='get_categorized_laws("정보통신")'>정보통신/정보보호</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section cards">
    <div class="container">
        <div class="columns is-multiline is-centered" id="law-card-box">

        </div>
    </div>
</section>


</body>
</html>