<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Today 국회</title>
    <link rel="shortcut icon" href="static/favicon.png" type="image/x-icon">
    <meta property="og:title" content="오늘의 법"/>
    <meta property="og:description" content="오늘도 발의되는 여러 법안들 간편하게 살펴보자!!"/>
    <meta property="og:image" content="{{ url_for('static', filename='congress.png') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <!-- img -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/js/jquery.vticker.min.js"></script>
    <!-- 폰트 JUA -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- 폰트 Nanum Gothic -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- js 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/scroll.js"></script>
    <script src="/static/js/login.js"></script>
    <script src="/static/js/category.js"></script>

    <style>
        .column {
            height: 150px;
            margin: 10px;
            font-size: 1.2em;
            -webkit-box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
            -moz-box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
            box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
        }
    </style>

</head>
<body>

<section class="hero is-info is-small">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img onclick="window.location.href='/'" src="/static/congress.png" alt="Logo">
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item">
                            Today 국회
                        </a>
                        <a href="/category" class="navbar-item">
                            카테고리별 법안목록
                        </a>
                        <a href="/yesterday" class="navbar-item">
                            어제의 국회
                        </a>
                        <span class="navbar-item">
              <a onclick="show_login_modal()" class="button is-info is-inverted" id="login_button">
                <span>로그인</span>
              </a>
                            <a onclick="logout()" class="button is-info is-inverted is-hidden" id="logout_button">
                <span>로그아웃</span>
              </a>
            </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Today 국회
            </p>
            <img onclick="window.location.href='/'" class="title-logo" src="/static/congress.png" alt="Logo"/>
            <p class="subtitle" style="margin: auto">
                국회 발의 법안 간편하게 보자!
            </p>
            <br/>
            <p class="title" style="margin: auto">
                어제 국회 머했니 ~?
            </p>
        </div>
    </div>
</section>

<section class="section cards">
    <div class="container">
        <div class="columns is-multiline is-centered" id="law-card-box">
            {% for law in laws %}
                <div class="column img1 toaster is-two-fifths " style="border-radius: 30px;">
                    <div style="text-align: center; color: steelblue">
                        <p>
                            <span style="font-size: 0.7em;">처리상태: </span>
                                {{ law.status }}
                            <span style="font-size: 0.6em; color: black">{{ law.detail_status }}</span></p>
                    </div>
                    <p id="category-title"
                       onclick="open_modal({{ law.url }}, {{ law.law_id }}, {{ law.title }},'', {{ law.proposer_names }})"
                       class="category-title">{{ law.title }}</p>

                    <p style="font-size: 0.8em">발의자: {{ law.proposer_names }}</p>
                    {% if law.committee != None %}
                        <p style="font-size: 0.8em">소관위원회: {{ law.committee }}</p>
                    {% endif %}
                    <div style="text-align: center;"><p><a href="{{ law.url }}" style="font-size: 0.8em">상세정보</a></p></div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>


</body>
</html>